@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

header {
    display: flex;
    justify-content: space-around;

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.logo-image {
    height: 50px;
}
.header-navbar {
    display: flex;
    gap: 50px;
}
.navbar-link {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    background: -webkit-linear-gradient(#000, #FF6200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-icon {
    height: 25px;
    width: 25px;
}